service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return exists(/databases/$(database)/documents/admin/$(request.auth.uid));
    }
    match /{allPaths=**} {
      allow read;
      allow write: if isAdmin();
    }
  }
}
